---
http_interactions:
- request:
    method: get
    uri: https://codeclimate.com/github/AgileVentures/LocalSupport/badges/gpa.svg
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - inline; filename="code_climate-3-2.svg"
      Content-Transfer-Encoding:
      - binary
      Content-Type:
      - image/svg+xml
      Etag:
      - '"e86ec070fcdbba0ea99ab927c0791ab8"'
      Status:
      - 200 OK
      X-Revision:
      - 76a72cc5b93c06c571157ce83615bff3b545937d
    body:
      encoding: UTF-8
      string: '<svg xmlns="http://www.w3.org/2000/svg" width="110" height="20"><linearGradient
        id="a" x2="0" y2="100%"><stop offset="0" stop-color="#bbb" stop-opacity=".1"/><stop
        offset="1" stop-opacity=".1"/></linearGradient><rect rx="3" width="110" height="20"
        fill="#555"/><rect rx="3" x="82" width="28" height="20" fill="#97CA00"/><path
        fill="#97CA00" d="M82 0h4v20h-4z"/><rect rx="3" width="110" height="20" fill="url(#a)"/><g
        fill="#fff" text-anchor="middle" font-family="DejaVu Sans,Verdana,Geneva,sans-serif"
        font-size="11"><text x="42" y="15" fill="#010101" fill-opacity=".3">code climate</text><text
        x="42" y="14">code climate</text><text x="95" y="15" fill="#010101" fill-opacity=".3">3.2</text><text
        x="95" y="14">3.2</text></g></svg>

'
  recorded_at: Wed, 27 Jul 2016 23:33:00 GMT
recorded_with: VCR 3.0.3
